/* Extracted and adapted from: https://github.com/mmistakes/minimal-mistakes/blob/master/_sass/minimal-mistakes/_base.scss */
/* Figures and images */
figuregallery {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 2em 0; }
  figuregallery img,
  figuregallery iframe,
  figuregallery .fluid-width-video-wrapper {
    margin-bottom: 1em; }
  figuregallery img {
    width: 100%; }
  figuregallery > a {
    display: block; }
  figuregallery.half > a,
  figuregallery.half > img {
    width: calc(50% - 0.5em); }
  figuregallery.half figcaption {
    width: 100%; }
  figuregallery.third > a,
  figuregallery.third > img {
    width: calc(33.3333% - 0.5em); }
  figuregallery.third figcaption {
    width: 100%; }

/* Figure captions */
figcaption {
  margin-bottom: 0.5em; }
