language: ruby

rvm:
  - 2.4.0

cache: bundler

install:
  - bundle install

before_script:
  - "chmod +x ./build.sh"

script:
  "./build.sh"

branches:
  only:
    - gh-pages-edit

env:
  global:
    secure: "gBC3pvC+FpEWhY2MkJ4TItifMP+8HUWFuHVO7bsmKatCclu3p9QXx8KOZkJxZ9OBdiKROF9liU3vOw7u36LyoleynaOj+YpFdKlb9WcrAM1siZBQOfz0hAoKU6S359Gw70XgnWJ680ewr0UYDxQHPrwttmu+xEcO7RX6tS7+nvrlEIWUuiwus0tVyje5Wwju/onYUdEPIosTV9/Pkyb2uuDeq6LYaMkYXT35/gZP2PvFn/zqoo3BoerI0jIahTzUh3hUcoq8agHzDddxVrR07Mtaocx3NCzxvQdzDs48sGeeOMQ1LNs/H5ikdhizpSrg3CFZmyaEIu+OG19zVIMF8fPcoKUQzVlsY9q973aN17OAl0wCYuvrwBnA9x1U+GLTh8eoSBNBilILhT7/KjlRQkQcEdZEEcou1iV1pD5ooMBxcyGtUFMX1iSoQgOeR/dfQYwXNOrhAcntwgNpiFeXK7FP0floIl56w/D1+WAdX6hBmx+sjdCngXcP1CQ3wkdFCwjVvAP8SHn7uRtat7eOP2/GwRAsCip3OusB0UYCG4qf77JfB/5KeJmVxVjpYfLSoJOkyMg3FW6zLh79VbiN3kY50PqbPMYLxdhPbkU7tx+nMaSimYrJCoOkBrQIduwuCE3ExNKpJeE51HV4eemiiJDR2iWx9dnszYL7+osnzZA="
