---
layout: defaultwithtabs

---

<!-- Page Heading/Breadcrumbs -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">The GEMOC Studio
            <small>Download</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ site.baseurl }}/">Home</a>
            </li>
            <li><a href="{{ site.baseurl }}/studio.html">Studio</a>
            </li>
            <li class="active">Download</li>
        </ol> 
    </div>
</div>
<!-- /.row -->

<div class="col-lg-12">

        <strong>Several versions are availables depending on your needs</strong> Eclipse package (recommanded for most usages), Virtual machine (for OS independant demos running in Virtual Box) or update site (in order to install GEMOC into an existing eclipse).<br/><br/>
        
</div> 

<!-- compute last release for each kind -->
{% assign last_eclipse_package = site.categories.eclipse_package.first %}
{% assign last_virtualbox = site.categories.virtualbox.first %}
{% assign last_updatesite = site.categories.updatesite.first %} 

<ul id="myTab" class="nav nav-tabs nav-justified">
    <li class="active"><a href="#eclipse-package" data-toggle="tab"><img class="alignleft" style="border: 0px none;" src="img/releng/gemoc_eclipse_package.png" width="32" height="32" align="TOP" /> Eclipse package</a>
    </li>
    <li class=""><a href="#lubuntu-vm" data-toggle="tab"><img class="alignleft" style="border: 0px none;" src="img/releng/gemoc_vm.png" width="32" height="32" align="TOP" /> Virtual machine</a>
    </li>
    <li class=""><a href="#update-site" data-toggle="tab"><img class="alignleft" style="border: 0px none;" src="img/releng/gemoc_update_site.png"  height="24" align="TOP" /> Update site</a>
    </li>
</ul>
<div id="myTabContent" class="tab-content">
	<!--  ECLIPSE PACKAGE PANE -->
    <div class="tab-pane fade active in" id="eclipse-package">
        <div class="panel panel-default">
  			<div class="panel-heading">Current stable version: {{ last_eclipse_package.releaseVersion }} - {{ last_eclipse_package.date  | date: "%Y/%m/%d" }}</div>
  			<div class="panel-body">
		        <table class="table table-striped">
				<tbody>
					<tr>					
					<td>GEMOC Studio Eclipse package <br><a title="More details about this version"  href="{{ site.baseurl }}{{ last_eclipse_package.url }}">{{ last_eclipse_package.releaseVersion }} - {{ last_eclipse_package.date  | date: "%Y/%m/%d" }}</a><br/> ({{ last_eclipse_package.eclipsePackageSize }})</td>			
					<td>
						<img class="alignleft" style="border: 0px none;" src="img/releng/gemoc_eclipse_package.png" width="16" height="16" align="TOP" /><a title="gemoc_studio-linux.gtk.x86.zip" href="{{ last_eclipse_package.linux32URL }}">Linux (gtk) 32 Bit</a><br> 
						<img class="alignleft" style="border: 0px none;" src="img/releng/gemoc_eclipse_package.png" width="16" height="16" align="TOP" /><a title="gemoc_studio-linux.gtk.x86_64.zip" href="{{ last_eclipse_package.linux64URL }}">Linux (gtk) 64 Bit</a><br>
						<img class="alignleft" style="border: 0px none;" src="img/releng/gemoc_eclipse_package.png" width="16" height="16" align="TOP" /><a title="gemoc_studio-macosx.cocoa.x86_64.zip" href="{{ last_eclipse_package.macOS64URL }}">Mac OS X (cocoa) 64 Bit</a><br> 
						<img class="alignleft" style="border: 0px none;" src="img/releng/gemoc_eclipse_package.png" width="16" height="16" align="TOP" /><a title="gemoc_studio-win32.win32.x86.zip" href="{{ last_eclipse_package.win32URL }}">Windows 32 Bit</a><br> 
						<img class="alignleft" style="border: 0px none;" src="img/releng/gemoc_eclipse_package.png" width="16" height="16" align="TOP" /><a title="gemoc_studio-win32.win32.x86_64.zip" href="{{ last_eclipse_package.win64URL }}">Windows 64 Bit</a><br>
					<td>{{ last_eclipse_package.excerpt }}<a href="{{ site.baseurl }}{{ last_eclipse_package.url }}">(Read more)</a></td>
					</tr>
				</tbody>
				</table>
			</div>
		</div>
		<div class="panel-group">
  			<div class="panel panel-default">
    			<div class="panel-heading">
      				<h3 class="panel-title">
						<a title="expand panel to show all stable versions" data-toggle="collapse" href="#allstablepackages">All stable versions <i class="fa fa-expand"></i></a><small><i>(click to expand)</i></small></h3>
				</div>
		  		<div id="allstablepackages" class="panel-collapse collapse">
		  			<div class="panel-body">
				        <table class="table table-striped">
						<tbody>
							
							{% for eclipse_package_post in site.categories.eclipse_package %}
							<tr>
							<td><a title="More details about this version"   href="{{ site.baseurl }}{{ eclipse_package_post.url }}">GEMOC Studio Eclipse package</a><br/> ({{ eclipse_package_post.eclipsePackageSize }})</td>			
							<td>{{ eclipse_package_post.releaseVersion }} - {{ eclipse_package_post.date  | date: "%Y/%m/%d" }}</td>
							<td>
							{{ eclipse_package_post.excerpt }}<a href="{{ site.baseurl }}{{ eclipse_package_post.url }}">(Read more)</a></td>
							</tr>
							{% endfor %}
						</tbody>
						</table>				
		  			</div>
		  			<div class="panel-footer"></div>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
  			<div class="panel-heading">Development versions</div>
  			<div class="panel-body">
  				<table class="table table-striped">
				<tbody>
					<tr>
					<td><a title="get the latest version from the continuous integration service at Eclipse" href="https://ci.eclipse.org/gemoc/job/gemoc-studio/job/master/lastSuccessfulBuild/artifact/gemoc-studio/gemoc_studio/releng/org.eclipse.gemoc.gemoc_studio.product/target/products/"><img class="alignleft" style="border: 0px none;" src="img/releng/gemoc_eclipse_package.png" width="16" height="16" align="TOP" />GEMOC Studio Official Eclipse package</a></td>			
					<td>Latest nightly build</td>
					<td>Continuous integration build from <b>official eclipse git</b>.</td>
					</tr>
				</tbody>
				</table>
			</div>
		</div>
    </div>
    <!--  VIRTUALBOX PANE -->
    <div class="tab-pane fade" id="lubuntu-vm">
        <div class="panel panel-default">
  			<div class="panel-heading">Current stable version: {{ last_virtualbox.releaseVersion }} - {{ last_virtualbox.date  | date: "%Y/%m/%d" }}</div>
  			<div class="panel-body">
  				<table class="table table-striped">
				<tbody>
					<tr>
					<td>GEMOC Studio in a VM for VirtualBox <br><a title="More details about this version" href="{{ site.baseurl }}{{ last_virtualbox.url }}">{{ last_virtualbox.releaseVersion }} - {{ last_virtualbox.date  | date: "%Y/%m/%d" }}</a></td>			
					<td>
						<img class="alignleft" style="border: 0px none;" src="img/releng/gemoc_vm.png" width="16" height="16" align="TOP" />
						<a  title="Lubuntu%2064%20GEMOC.ova" href="{{ last_virtualbox.virtualBoxURL }}">Lubuntu 64 GEMOC.ova</a> ({{ last_virtualbox.virtualBoxSize }})  
					</td>
					<td><i>{{ last_virtualbox.virtualBoxLoginComment }}</i><br>
					{{ last_virtualbox.excerpt }}<a href="{{ site.baseurl }}{{ last_virtualbox.url }}">(Read more)</a></td>
					</tr>
				</tbody>
				</table>
			</div>
		</div>
		<div class="panel-group">
  			<div class="panel panel-default">
    			<div class="panel-heading">
      				<h3 class="panel-title">
						<a title="expand panel to show all stable versions" data-toggle="collapse" href="#allstablevms">All stable versions <i class="fa fa-expand"></i></a><small><i>(click to expand)</i></small></h3> 
				</div>
		  		<div id="allstablevms" class="panel-collapse collapse">
		  			<div class="panel-body">
				        <table class="table table-striped">
						<tbody>
							
							{% for virtualbox_post in site.categories.virtualbox %}
							<tr>
							<td>VM for VirtualBox <br>
								<a title="More details about this version" href="{{ site.baseurl }}{{ virtualbox_post.url }}">{{ virtualbox_post.releaseVersion }} - {{ virtualbox_post.date  | date: "%Y/%m/%d" }}</a> 
							</td>			
							<td><a  title="Lubuntu%2064%20GEMOC.ova ({{ virtualbox_post.virtualBoxSize }})" href="{{ virtualbox_post.virtualBoxURL }}">
								<img class="alignleft" style="border: 0px none;" src="img/releng/gemoc_vm.png" width="16" height="16" align="TOP" />
								Lubuntu 64 GEMOC.ova</a> ({{ virtualbox_post.virtualBoxSize }})
							</td>
							<td><i>{{ virtualbox_post.virtualBoxLoginComment }}</i><br>
							{{ virtualbox_post.excerpt }}<a href="{{ site.baseurl }}{{ virtualbox_post.url }}">(Read more)</a></td>
							</tr>
							{% endfor %}
						</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
    </div>
    <!--  UPDATESITE PANE -->
    <div class="tab-pane fade" id="update-site">
        <div class="panel panel-default">
        
			<div class="panel-footer">Permalink to latest stable version: <b><a title="right click, copy the URL then paste into eclipse" href="http://gemoc.org/updatesite/studio">http://gemoc.org/updatesite/studio</a></b><br>
			(See <a href="http://help.eclipse.org/neon/index.jsp?topic=/org.eclipse.platform.doc.user/tasks/tasks-127.htm">Eclipse online documentation</a> about adding update sites in your eclipse installation.				        
			</div>
  			<div class="panel-heading">Current stable version: {{ last_updatesite.releaseVersion }}  {{ last_updatesite.date  | date: "%Y/%m/%d"}}</div>
  			<div class="panel-body">
  				<table class="table table-striped">
				<tbody>
					<tr>
					<td>Update site <br><a  title="More details about this version"  href="{{ site.baseurl }}{{ last_updatesite.url }}">{{ last_updatesite.releaseVersion }} - {{ last_updatesite.date  | date: "%Y/%m/%d" }}</a></td>			
					<td>
						<img class="alignleft" style="border: 0px none;" src="img/releng/gemoc_update_site.png" height="16" align="TOP" />
						<a title="right click, copy the URL then paste into eclipse" href="{{ last_updatesite.updatesiteURL }}">{{ last_updatesite.updatesiteURL }}</a>   
					</td>
					<td>{{ last_updatesite.excerpt }}<a href="{{ site.baseurl }}{{ last_updatesite.url }}">(Read more)</a></td>
					</tr>
				</tbody>
				</table>
			</div>
		</div>
		<div class="panel-group">
  			<div class="panel panel-default">
    			<div class="panel-heading">
      				<h3 class="panel-title">
						<a title="expand panel to show all stable versions" data-toggle="collapse" href="#allstableupdatesites">All stable versions <i class="fa fa-expand"></i></a><small><i>(click to expand)</i></small></h3>
				</div>
		  		<div id="allstableupdatesites" class="panel-collapse collapse">
		  			<div class="panel-body">
				        <table class="table table-striped">
							<tbody>
								{% for updatesite_post in site.categories.updatesite %}
								<tr>
								<td>Update site <br>			
									<a title="More details about this version" href="{{ site.baseurl }}{{ updatesite_post.url }}">{{ updatesite_post.releaseVersion }} - {{ updatesite_post.date  | date: "%Y/%m/%d" }}</a></td>
								<td>
									<img class="alignleft" style="border: 0px none;" src="img/releng/gemoc_update_site.png" height="16" align="TOP" />
									<a title="right click, copy the URL then paste into eclipse"  href="{{ updatesite_post.updatesiteURL }}">{{ updatesite_post.updatesiteURL }}</a>   
								</td>
								<td>
								{{ updatesite_post.excerpt }}<a href="{{ site.baseurl }}{{ updatesite_post.url }}">(Read more)</a></td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
  			<div class="panel-heading">Development versions</div>
  			<div class="panel-body">
  				<table class="table table-striped">
				<tbody>
					<tr>
					<td><img class="alignleft" style="border: 0px none;" src="img/releng/gemoc_update_site.png" height="16" align="TOP" />
						<a title="right click, copy then paste into eclipse" href="https://ci.eclipse.org/gemoc/job/gemoc-studio_master/lastSuccessfulBuild/artifact/gemoc-studio/gemoc_studio/releng/org.eclipse.gemoc.gemoc_studio.updatesite/target/repository/">https://ci.eclipse.org/gemoc/job/gemoc-studio_master/lastSuccessfulBuild/artifact/gemoc-studio/gemoc_studio/releng/org.eclipse.gemoc.gemoc_studio.updatesite/target/repository/</a></td>			
					<td>Latest nightly build</td>
					<td>Continuous integration build from git.</td>
					</tr>
				</tbody>
				</table>
			</div>
		</div>
		<div class="panel panel-default">
  			<div class="panel-heading">Additional update sites</div>
  			<div class="panel-body">
  				<p> The update sites for the Additional GEMOC Components can be found in the <a href="{{ site.baseurl }}discovery/catalog.html">GEMOC Component Discovery Catalog</a>
  				</p>
  				<p>This <a href="{{ site.baseurl }}updatesite">page</a> lists the update sites used to built a GEMOC Studio  from an empty Eclipse.
  				</p>
			</div>
		</div>
    </div>
</div>

<div class="col-lg-12">
          
<strong>Requirements for Eclipse packages and update site:</strong> Java 8 and JavaFX . JavaFX is required for the Multidimensional timeline features, please make sure to install it or to use Oracle JRE.<br/>
  
<strong>Getting started:</strong> The studio comes with various example languages that you can import in your workspace: <i>File > New > Examples&#8230;</i>. &#8212; You can also install additional examples using the component discovery service: <i>Help > Install additional GEMOC components</i> (See the current <a href="{{ site.baseurl }}discovery/catalog.html">catalog</a>). &#8212; Or you can also browse the <a href="{{ site.baseurl }}/gallery.html">language gallery</a> for some more examples.
<br/><br/>
        
</div> 
