<hr>
<!-- Footer -->
<footer>
    <div class="row">
        <div class="col-lg-12">
            <p>Copyright &copy; {{ site.organization }} {{ site.time | date: '%Y' }}</p>
            <iframe src="https://ghbtns.com/github-btn.html?user=gemoc&repo=gemoc-studio&type=watch&count=false&v=2" frameborder="0" scrolling="0" width="80px" height="20px"></iframe>
        	<a href="https://twitter.com/intent/tweet?screen_name=gemocinitiative" class="twitter-mention-button" data-show-count="false">Tweet to @gemocinitiative</a>
            <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
    </div>
</footer>
