<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ site.baseurl }}/index.html">{{ site.organization }}</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="{{ site.baseurl }}/members.html">Members</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Events <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{{ site.baseurl }}/events/moddit2021.html">ModDiT 2021</a>
                        </li>
                        <li>
                            <a href="https://mleworkshop.github.io/mle2021">MLE 2021</a>
                        </li>
                        <li>
                            <a href="https://mleworkshop.github.io/mle2020">MLE 2020</a>
                        </li>
                        <li>
                            <a href="{{ site.baseurl }}/events/mle2019.html">MLE 2019</a>
                        </li>
                        
                        <li>
                            <a href="{{ site.baseurl }}/events/gemoc2018.html">GEMOC 2018</a>
                        </li>
                        <li>
                            <a href="https://github.com/gemoc/gemoc-rc-day18">GEMOC Hackathon 2018</a>
                        </li>
                        <li>
                            <a href="{{ site.baseurl }}/events/gemoc2017.html">GEMOC 2017</a>
                        </li>
                        <li>
                            <a href="http://www.dagstuhl.de/17342">Dagstuhl SLEBoK (#17342)</a>
                        </li>
                        <li>
                            <a href="{{ site.baseurl }}/events/gemoc2016.html">GEMOC 2016</a>
                        </li>
                        <li>
                            <a href="{{ site.baseurl }}/events/gemoc2015.html">GEMOC 2015</a>
                        </li>
                        <li>
                            <a href="http://www.dagstuhl.de/14412">Dagstuhl GEMOC (#14412)</a>
                        </li>
                        <li>
                            <a href="{{ site.baseurl }}/events/gemoc2014.html">GEMOC 2014</a>
                        </li>
                        <li>
                            <a href="{{ site.baseurl }}/events/gemoc2013.html">GEMOC 2013</a>
                        </li>
                        <li>
                            <a href="{{ site.baseurl }}/events/globalDSL2013.html">GlobalDSL 2013</a>
                        </li>
                        <li>
                            <a href="{{ site.baseurl }}/events/gemocmeeting2013.html">GEMOC Meeting 2013</a>
                        </li>
                    </ul>
                </li>
                <li>
                     <a href="{{ site.baseurl }}/projects.html">Projects</a>
                </li>
                <li>
                     <a href="{{ site.baseurl }}/studio.html">Studio</a>
                </li>
                <li>
                     <a href="{{ site.baseurl }}/publications.html">Publications</a>
                </li>

                <li>
                     <a href="{{ site.baseurl }}/artwork.html">Artwork</a>
                </li>
                <li>
                    <a href="{{ site.baseurl }}/contact.html">Contact</a>
                </li>
                <!--
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Other Pages <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{{ site.baseurl }}/full-width.html">Full Width Page</a>
                        </li>
                        <li>
                            <a href="{{ site.baseurl }}/sidebar.html">Sidebar Page</a>
                        </li>
                        <li>
                            <a href="{{ site.baseurl }}/faq.html">FAQ</a>
                        </li>
                        <li>
                            <a href="{{ site.baseurl }}/404.html">404</a>
                        </li>
                        <li>
                            <a href="{{ site.baseurl }}/pricing.html">Pricing Table</a>
                        </li>
                    </ul>
                </li>
                -->
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
