---
layout: default

---
<!-- Page Heading/Breadcrumbs -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">{{ page.title }}
            <small><a href="#">{{ page.date }}</a>
            </small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="index.html">Home</a>
            </li>
            <li><a href="events.html">Events</a>
            </li>
            <li class="active">{{ page.title }}</li>
        </ol>
    </div>
</div>
<!-- /.row -->

<!-- Content Row -->
<div class="row">

    <!-- Blog Post Content Column -->
    <div class="col-lg-8">

        <!-- Blog Post -->

        <hr>

        {% if page.previewimage %}
        <!-- Preview Image -->
        <img class="img-responsive" src="{{ site.placeholderimagesbaseurl }}{{ page.previewimage }}" alt="">
        {% endif %}

        <hr>

        <!-- Post Content -->
        {% if page.excerpt %}
        <p class="lead">{{ page.excerpt }}</p>
        {% endif %}

        {{ content }}

        <hr>

    </div>

</div>
<!-- /.row -->
