---
layout: default

---
<!-- Page Heading/Breadcrumbs -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">{{ page.title }}
            <small>{{ page.date | date: "%Y/%m/%d" }}</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ site.baseurl }}/index.html">Home</a>
            </li>
            <li><a href="{{ site.baseurl }}/studio.html">Studio</a>
            </li>
            <li><a href="{{ site.baseurl }}/download.html">Download</a>
            </li>
            <li class="active">{{ page.title }} ({{ page.date | date: "%b %Y " }})</li>
        </ol>
    </div>
</div>
<!-- /.row -->

<!-- Content Row -->
<div class="row">

    <!-- Blog Post Content Column -->
    <div class="col-lg-12">

        <!-- Blog Post -->


        <!-- Post Content -->
        {% if page.excerpt %}
        <p class="lead">{{ page.excerpt }}</p>
        {% endif %}

		{% if page.categories contains 'eclipse_package' %}
		<div class="panel-group">
			<div class="panel panel-default">
				<div class="panel-heading">
		 			<h3 class="panel-title">
						<a title="expand panel to show all stable versions" data-toggle="collapse" href="#eclipsepackage"><img class="alignleft" style="border: 0px none;" src="{{ site.baseurl }}/img/releng/gemoc_eclipse_package.png" width="24" height="24" align="TOP" /> Eclipse package <i class="fa fa-expand"></i></a>
						<small><i>(click to expand)</i></small>
					</h3>
				</div>
		  		<div id="eclipsepackage" class="panel-collapse collapse">
		  			<div class="panel-body">
		  				Download the Eclipse IDE package ({{ page.eclipsePackageSize }})
				        <ul>
				        	{% if page.linux32URL %} <li><a title="gemoc_studio-linux.gtk.x86.zip" href="{{ page.linux32URL }}">Linux (gtk) 32 Bit</a></li>{% endif %} 
							<li><a title="gemoc_studio-linux.gtk.x86_64.zip" href="{{ page.linux64URL }}">Linux (gtk) 64 Bit</a></li> 
							<li><a title="gemoc_studio-macosx.cocoa.x86_64.zip" href="{{ page.macOS64URL }}">Mac OS X (cocoa) 64 Bit</a></li>
							{% if page.win32URL %} <li><a title="gemoc_studio-win32.win32.x86.zip" href="{{ page.win32URL }}">Windows 32 Bit</a></li> {% endif %}
							<li><a title="gemoc_studio-win32.win32.x86_64.zip" href="{{ page.win64URL }}">Windows 64 Bit</a></li>
						</ul>
						{% if page.eclipseHeadlessPackageSize %}
						Download the Headless Engine Runner package ({{ page.eclipseHeadlessPackageSize }})
				        <ul> 
							{% if page.headlessLinux64URL %} <li><a title="gemoc_studio-linux.gtk.x86_64.zip" href="{{ page.linux64URL }}">Headless Linux 64 Bit</a></li>{% endif %} 
							{% if page.headlessMacOS64URL %} <li><a title="gemoc_studio-macosx.cocoa.x86_64.zip" href="{{ page.macOS64URL }}">Headless Mac OS X 64 Bit</a></li> {% endif %}
							{% if page.headlessWin64URL %} <li><a title="gemoc_studio-win32.win32.x86_64.zip" href="{{ page.win64URL }}">Headless Windows 64 Bit</a></li>{% endif %}
						</ul>
						{% endif %}			
		  			</div>
		  			<div class="panel-footer"></div>
				</div>
			</div>
		</div>
		{% endif %}
		{% if page.categories contains 'virtualbox' %}
		<div class="panel-group">
			<div class="panel panel-default">
				<div class="panel-heading">
		 			<h3 class="panel-title">
						<a title="expand panel to show all stable versions" data-toggle="collapse" href="#virtualbox"><img class="alignleft" style="border: 0px none;" src="{{ site.baseurl }}/img/releng/gemoc_vm.png" width="24" height="24" align="TOP" /> Virtual machine <i class="fa fa-expand"></i></a>
						<small><i>(click to expand)</i></small>
					</h3>
				</div>
		  		<div id="virtualbox" class="panel-collapse collapse">
		  			<div class="panel-body">
				        <ul> Download the VirtualBox image ({{ page.virtualBoxSize }})
				        	<li><a  title="Lubuntu%2064%20GEMOC.ova" href="{{ page.virtualBoxURL }}">Lubuntu 64 GEMOC.ova</a> {{ page.virtualBoxLoginComment }} </li>
						</ul>				
		  			</div>
		  			<div class="panel-footer"></div>
				</div>
			</div>
		</div>
		{% endif %}
		{% if page.categories contains 'updatesite' %}
		<div class="panel-group">
			<div class="panel panel-default">
				<div class="panel-heading">
		 			<h3 class="panel-title">
						<a title="expand panel to show all stable versions" data-toggle="collapse" href="#updatesite"><img class="alignleft" style="border: 0px none;" src="{{ site.baseurl }}/img/releng/gemoc_update_site.png" height="24" align="TOP" /> Update site <i class="fa fa-expand"></i></a>
						<small><i>(click to expand)</i></small>
					</h3>
				</div>
		  		<div id="updatesite" class="panel-collapse collapse">
		  			<div class="panel-body">
		  				Add this URL to the update sites of your eclipse installation. (See <a href="http://help.eclipse.org/neon/index.jsp?topic=/org.eclipse.platform.doc.user/tasks/tasks-127.htm">online documentation</a>)
				        <ul>
				        	<li><a title="right click, copy the URL then paste into eclipse" href="{{ page.updatesiteURL }}">{{ page.updatesiteURL }}</a></li>
						</ul>				
		  			</div>
		  			<div class="panel-footer"></div>
				</div>
			</div>
		</div>
		{% endif %}

		<div class="panel-group">
			<div class="panel panel-default">
				<div class="panel-heading">
					{% if page.documentationURL or page.discoveryCatalogURL %} Other artefacts associated with this release:
						{% if page.documentationURL %} <a href="{{ page.documentationURL }}">[Documentation]</a>{% endif %}
						{% if page.discoveryCatalogURL %} <a href="{{ page.discoveryCatalogURL }}">[Discovery catalog]</a>{% endif %}
					{% endif %}	
				</div>
			</div>
		</div>


		<hr>

        {{ content }}

        <hr>

    </div>

</div>
<!-- /.row -->
