---
layout: default

---
<!-- Page Heading/Breadcrumbs -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">{{ page.title }}
            <small>{{ page.date | date: "%Y/%m/%d" }}</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ site.baseurl }}/index.html">Home</a>
            </li>
            <li><a href="{{ site.baseurl }}/studio.html">Studio</a>
            </li>
            <li><a href="{{ site.baseurl }}/download.html">Download</a>
            </li>
            <li class="active">{{ page.title }} ({{ page.date | date: "%b %Y " }})</li>
        </ol>
    </div>
</div>
<!-- /.row -->

<!-- Content Row -->
<div class="row">

    <!-- Blog Post Content Column -->
    <div class="col-lg-12">

        <!-- Blog Post -->


        <!-- Post Content -->
        {% if page.excerpt %}
        <p class="lead">{{ page.excerpt }}</p>
        {% endif %}

<ul id="myTab" class="nav nav-tabs nav-justified">
	{% if page.categories contains 'eclipse_package' %}
    <li class="active"><a href="#service-one" data-toggle="tab"><img class="alignleft" style="border: 0px none;" src="{{ site.baseurl }}/img/releng/gemoc_eclipse_package.png" width="32" height="32" align="TOP" /> Eclipse package</a>
    </li>
    {% endif %}
	{% if page.categories contains 'virtualbox' %}
		{% if page.categories contains 'eclipse_package' %}	
    <li class="">
    	{% else %}
    <li class="active">
    	{% endif %}
    	<a href="#service-two" data-toggle="tab"><img class="alignleft" style="border: 0px none;" src="{{ site.baseurl }}/img/releng/gemoc_vm.png" width="32" height="32" align="TOP" /> Virtual machine</a>
    </li>
    {% endif %}
	{% if page.categories contains 'updatesite' %}
    	{% if page.categories contains 'eclipse_package' or page.categories contains 'virtualbox' %}	
    <li class="">
    	{% else %}
    <li class="active">
    	{% endif %}
    	<a href="#service-three" data-toggle="tab"><img class="alignleft" style="border: 0px none;" src="{{ site.baseurl }}/img/releng/gemoc_update_site.png"  height="32" align="TOP" /> Update site</a>
    </li>
    {% endif %}
</ul>
<div id="myTabContent" class="tab-content">
	{% if page.categories contains 'eclipse_package' %}
    <div class="tab-pane fade active in" id="service-one">
        <ul>GEMOC Studio Eclipse package ({{ page.eclipsePackageSize }})</td>
        	<li><a title="gemoc_studio-linux.gtk.x86.zip" href="{{ page.linux32URL }}">Linux (gtk) 32 Bit</a></li> 
			<li><a title="gemoc_studio-linux.gtk.x86_64.zip" href="{{ page.linux64URL }}">Linux (gtk) 64 Bit</a></li> 
			<li><a title="gemoc_studio-macosx.cocoa.x86_64.zip" href="{{ page.macOS64URL }}p">Mac OS X (cocoa) 64 Bit</a></li> 
			<li><a title="gemoc_studio-win32.win32.x86.zip" href="{{ page.win32URL }}">Windows 32 Bit</a></li> 
			<li><a title="gemoc_studio-win32.win32.x86_64.zip" href="{{ page.win64URL }}">Windows 64 Bit</a></li>
		</ul>
    </div>
    {% endif %}
	{% if page.categories contains 'virtualbox' %}
		{% if page.categories contains 'eclipse_package' %}
    <div class="tab-pane fade " id="service-two">
    	{% else %}
    <div class="tab-pane fade active in" id="service-two">
    	{% endif %}
        <br/>
        <ul>GEMOC Studio Virtual Machine ({{ page.virtualBoxSize }})
        	<li><a  title="Lubuntu%2064%20GEMOC.ova" href="{{ page.virtualBoxURL }}">Lubuntu 64 GEMOC.ova</a> {{ page.virtualBoxLoginComment }} </li>
        </ul>
        
    </div>
    {% endif %}
	{% if page.categories contains 'updatesite' %}
		{% if page.categories contains 'eclipse_package' or page.categories contains 'virtualbox' %}
    <div class="tab-pane fade " id="service-three">
    	{% else %}
    <div class="tab-pane fade active in" id="service-three">
    	{% endif %}
        <br/>
        <ul>GEMOC Studio update site
        	<li>(right click & copy) <a href="{{ page.updatesiteURL }}">{{ page.updatesiteURL }}</a></li>
        </ul>
        
    </div>
    {% endif %}
</div>


		<hr>

        {{ content }}

        <hr>

    </div>

</div>
<!-- /.row -->
